<div class="container">
    <!-- //ده اسم الفانكشن وبديله المتغير الي شايل الفورم كلها  -->
    <form [formGroup]="register" (ngSubmit)="onclick(register)">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">firstname</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName='name'>
        <!-- //  هنا بقوله متظهرش الدف دي غير لما يبقي فيه ايرور راجع من اي فالد انا عامله وكمان انا هنا بختار اسم المتغير الي انا عامله وشايل القيمه -->
           <!-- // هنا بقوله بقوله علي علامه التاتش علشان مش اول ما افتح الاقي الدف قدامي هنا بقوله متظهرش الدف غير لما يكون فيه ايرور عندي -->
        <div *ngIf="register.get('name')?.errors !=null && register.get('name')?.touched" class="alert alert-danger">
            <!-- // هنا بقوله لما يكون الايرور  في الريكوير اظهر بتاعت الريكوير -->
            <p *ngIf="register.get('name')?.errors?.['required']">name require</p>
            <!-- //هنا بقوله لما يكون الايرور  في اكبر حجم اظهر بتاعت اكبر حجم -->
           <p *ngIf="register.get('name')?.errors?.['maxlength']">name max len 10</p>
         <!-- //  هنا بقوله لما يكون الايرور  في اصغر حجم  اظهر بتاعت اصغر حجم   -->
             <p *ngIf="register.get('name')?.errors?.['minlength']">name min len 4</p>
           <!-- // كدا انا فوق بختار حسب الايرور واطبعله الايرور الخاص بيها ولازم اكون انا حاطه اصلا من ضمن الفالد في الملف بتاع التايب   -->
      </div>
        </div>
        <!-- <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">email</label>
          <input type="email" class="form-control" id="exampleInputPassword1" formControlName='email'>
        </div>
        <div class="mb-3 form-check">
          <input type="password" class="form-control" id="exampleCheck1" formControlName='password'>
          <label class="form-check-label" for="exampleCheck1">password</label>
      </div>
        <div class="mb-3 form-check">
            <input type="password" class="form-control" id="exampleCheck1" formControlName='confirmPassword'>
            <label class="form-check-label" for="exampleCheck1">confirmPassword</label>
          </div> -->
          <!-- // هنا بقوله متظهرش البوتن غير لما يبقي كل حاجه فوق تمام -->
        <button [disabled]='register.invalid' type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
